<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QuyShareIT</display-name>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/library/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cats/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cats/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteCatController</servlet-name>
    <servlet-class>controller.AdminDeleteCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCatController</servlet-name>
    <url-pattern>/admin/cats/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/users/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUsersController</servlet-name>
    <servlet-class>controller.AdminEditUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUsersController</servlet-name>
    <url-pattern>/admin/users/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteUsersController</servlet-name>
    <servlet-class>controller.AdminDeleteUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUsersController</servlet-name>
    <url-pattern>/admin/users/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <servlet-class>controller.AdminIndexCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <url-pattern>/admin/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Loguot</servlet-name>
    <servlet-class>controller.Loguot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loguot</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/public/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteNewsController</servlet-name>
    <servlet-class>controller.AdminDeleteNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteNewsController</servlet-name>
    <url-pattern>/admin/news/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCategoryController</servlet-name>
    <servlet-class>controller.PublicCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCategoryController</servlet-name>
    <url-pattern>/public/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/public/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCommentController</servlet-name>
    <servlet-class>controller.AdminAddCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCommentController</servlet-name>
    <url-pattern>/admin/comment/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteCommentController</servlet-name>
    <servlet-class>controller.AdminDeleteCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCommentController</servlet-name>
    <url-pattern>/admin/comment/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/public/search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminAddReplyComment</servlet-name>
    <servlet-class>controller.AdminAddReplyComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddReplyComment</servlet-name>
    <url-pattern>/public/replycmt</url-pattern>
  </servlet-mapping>
  
  
</web-app>